# Group, Pivot, Join

In [1]:
from datetime import datetime
from datascience import *
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### From Last Time

In [2]:
def datetime_parser(string):
    datetime_object = datetime.strptime(string, '%m/%d/%y')
    return datetime_object

In [3]:
covid_us = Table().read_table("../data/covid_us.txt")
covid_us = covid_us.with_column("New Date", covid_us.apply(datetime_parser, "Date"))

### Groups

**Find the county in California with the highest death totals over the entire time period we have access to.**


**Hint: use `group`**

In [4]:
covid_california = ...
grouped_covid_california = ...
...

Ellipsis

**Find the county in the entire United States with the highest confirmed cases total over the entire time period we have access to.**

In [5]:
grouped_states = ...
...

### Joins

In [6]:
cereal = Table().read_table("../data/cereal.csv")
cereal_companies = Table().with_columns("Manufacturer", make_array("A", "G", "K", "N", "P", "Q", "R"),
                                    "Name", make_array("American Home Food Products", "General Mills", "Kellogs", "Nabisco", "Post", "Quaker Oats", "Ralston Purina"))

hot_cold = Table().with_columns("Cereal Type", make_array("H", "C"),
                                    "Cereal Type Name", make_array("Hot", "Cold"))

**I want the full names of the cereal manufactures added as a column to cereal. How can I get those names added?**

In [7]:
cereal = ...
cereal

Ellipsis

`tblA.join(colA, tblB, colB)`

`tblA.join(colA, tblB)`

**I also want the full names of the cereal types added as a column to cereal. How can I get those names added?**

In [8]:
cereal = ...
cereal

Ellipsis

### Pivots

* Groups according to two columns
Produces a grid of counts or aggregated values
*  Two required arguments:
    * First: variable that forms column labels of the grid
    * Second: variable that forms row labels of the grid
    * Two optional arguments (include both or neither)
        
        * values=’column_to_aggregate’
        
        * collect=function_to_aggregate_with

**Create a table with the cereal type name as the rows and the Manufacturer's name as the columns. In the grid, you should be seeing the number of cereals that falls within the Name + type combination**

In [9]:
...

Ellipsis

**Create a table with the cereal type as the columns and the Manufacturer's name as the rows. In the grid, you should be seeing the total amount protein that falls within the Type + Name combination**

In [10]:
...

Ellipsis

### When to Group:
* aggregates of one categorical variable
* aggregates of many variables
* Multiple outputs (aggregate columns) 

### When to Pivot:
* Aggregates of exactly two variables
* Few unique values for column variable
* Interested in every combination of values