In [33]:
from datetime import datetime
from datascience import *
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [34]:
def datetime_parser(string):
    datetime_object = datetime.strptime(string, '%m/%d/%y')
    return datetime_object

### Load Up Data

We begin by loading data on COVID-19 during the early times of the pandemic back in early 2020

In [36]:
covid_us = Table().read_table("../covid_data/covid_us.txt")

In [46]:
covid_us = covid_us.with_column("New Date", covid_us.apply(datetime_parser, "Date"))

Let us take a look at what columns we have access to

In [37]:
covid_us.labels

('Unnamed: 0',
 'UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 'Date',
 'Confirmed',
 'Deaths')

##### Discuss with someone near you what each of these columns mean. Feel free to play around with the data to figure it out

In [47]:
covid_us.sort("Province_State")

Unnamed: 0 | Admin2   | Province_State | Date    | Confirmed | Deaths | New Date
82         | Autauga  | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
83         | Baldwin  | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
84         | Barbour  | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
85         | Bibb     | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
86         | Blount   | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
87         | Bullock  | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
88         | Butler   | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
89         | Calhoun  | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
90         | Chambers | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
91         | Cherokee | Alabama        | 1/22/20 | 0         | 0      | 2020-01-22 00:00:00
... (249124 rows omitted)

### Looking at Alameda County

After taking a look at the columns lets cut them down to just the columns we need:

Admin2, Province_State, Date, Confirmed, Deaths

In [48]:
covid_us = covid_us.drop('Country_Region','UID','iso2','iso3','code3','FIPS', 'Lat', 'Long_', 'Combined_Key')

In [75]:
# help(covid_us.where)

Let's practice .where! Output a filtered version of covid_us with rows only in Alameda County California

In [49]:
covid_california = covid_us.where('Province_State', are.equal_to('California'))
covid_alameda_county = covid_us.where('Admin2', are.equal_to('Alameda'))
covid_alameda_county.show(5)

### TEST QUESTION