# Group, Pivot, Join

In [2]:
from datetime import datetime
from datascience import *
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### From Last Time

In [3]:
def datetime_parser(string):
    datetime_object = datetime.strptime(string, '%m/%d/%y')
    return datetime_object

In [4]:
covid_us = Table().read_table("../data/covid_us.txt")
covid_us = covid_us.with_column("New Date", covid_us.apply(datetime_parser, "Date"))

### Groups

**Find the county in California with the highest death totals over the entire time period we have access to.**


**Hint: use `group`**

In [5]:
covid_california = covid_us.where("Province_State", "California")
grouped_covid_california = covid_california.group("Admin2", sum)
grouped_covid_california.sort("Deaths sum", descending=True).column("Admin2").item(0)

'Los Angeles'

**Find the county in the entire United States with the highest confirmed cases total over the entire time period we have access to.**

In [6]:
grouped_states = covid_us.group("Province_State", sum)
grouped_states.sort("Confirmed sum", descending=True).column("Province_State").item(0)

'New York'

### Joins

In [27]:
cereal = Table().read_table("../data/cereal.csv")
cereal_companies = Table().with_columns("Manufacturer", make_array("A", "G", "K", "N", "P", "Q", "R"),
                                    "Name", make_array("American Home Food Products", "General Mills", "Kellogs", "Nabisco", "Post", "Quaker Oats", "Ralston Purina"))

hot_cold = Table().with_columns("Cereal Type", make_array("H", "C"),
                                    "Cereal Type Name", make_array("Hot", "Cold"))

Cereal Type | Cereal Type Name
H           | Hot
C           | Cold

**I want the full names of the cereal manufactures added as a column to cereal. How can I get those names added?**

In [28]:
cereal = cereal.join("mfr", cereal_companies, "Manufacturer")
cereal

mfr  | name                    | type | calories | protein | fat  | sodium | fiber | carbo | sugars | potass | vitamins | shelf | weight | cups | rating  | Name
A    | Maypo                   | H    | 100      | 4       | 1    | 0      | 0     | 16    | 3      | 95     | 25       | 2     | 1      | 1    | 54.8509 | American Home Food Products
G    | Apple Cinnamon Cheerios | C    | 110      | 2       | 2    | 180    | 1.5   | 10.5  | 10     | 70     | 25       | 1     | 1      | 0.75 | 29.5095 | General Mills
G    | Basic 4                 | C    | 130      | 3       | 2    | 210    | 2     | 18    | 8      | 100    | 25       | 3     | 1.33   | 0.75 | 37.0386 | General Mills
G    | Cheerios                | C    | 110      | 6       | 2    | 290    | 2     | 17    | 1      | 105    | 25       | 1     | 1      | 1.25 | 50.765  | General Mills
G    | Cinnamon Toast Crunch   | C    | 120      | 1       | 3    | 210    | 0     | 13    | 9      | 45     | 25       | 2     | 1      | 0.75 | 19.8236 | General Mills
G    | Clusters                | C    | 110      | 3       | 2    | 140    | 2     | 13    | 7      | 105    | 25       | 3     | 1      | 0.5  | 40.4002 | General Mills
G    | Cocoa Puffs             | C    | 110      | 1       | 1    | 180    | 0     | 12    | 13     | 55     | 25       | 2     | 1      | 1    | 22.7364 | General Mills
G    | Count Chocula           | C    | 110      | 1       | 1    | 180    | 0     | 12    | 13     | 65     | 25       | 2     | 1      | 1    | 22.3965 | General Mills
G    | Crispy Wheat & Raisins  | C    | 100      | 2       | 1    | 140    | 2     | 11    | 10     | 120    | 25       | 3     | 1      | 0.75 | 36.1762 | General Mills
G    | Golden Grahams          | C    | 110      | 1       | 1    | 280    | 0     | 15    | 9      | 45     | 25       | 2     | 1      | 0.75 | 23.804  | General Mills
... (67 rows omitted)

`tblA.join(colA, tblB, colB)`

`tblA.join(colA, tblB)`

**I also want the full names of the cereal types added as a column to cereal. How can I get those names added?**

In [29]:
cereal = cereal.join("type", hot_cold, "Cereal Type")
cereal

type | mfr  | name                    | calories | protein | fat  | sodium | fiber | carbo | sugars | potass | vitamins | shelf | weight | cups | rating  | Name          | Cereal Type Name
C    | G    | Apple Cinnamon Cheerios | 110      | 2       | 2    | 180    | 1.5   | 10.5  | 10     | 70     | 25       | 1     | 1      | 0.75 | 29.5095 | General Mills | Cold
C    | G    | Basic 4                 | 130      | 3       | 2    | 210    | 2     | 18    | 8      | 100    | 25       | 3     | 1.33   | 0.75 | 37.0386 | General Mills | Cold
C    | G    | Cheerios                | 110      | 6       | 2    | 290    | 2     | 17    | 1      | 105    | 25       | 1     | 1      | 1.25 | 50.765  | General Mills | Cold
C    | G    | Cinnamon Toast Crunch   | 120      | 1       | 3    | 210    | 0     | 13    | 9      | 45     | 25       | 2     | 1      | 0.75 | 19.8236 | General Mills | Cold
C    | G    | Clusters                | 110      | 3       | 2    | 140    | 2     | 13    | 7      | 105    | 25       | 3     | 1      | 0.5  | 40.4002 | General Mills | Cold
C    | G    | Cocoa Puffs             | 110      | 1       | 1    | 180    | 0     | 12    | 13     | 55     | 25       | 2     | 1      | 1    | 22.7364 | General Mills | Cold
C    | G    | Count Chocula           | 110      | 1       | 1    | 180    | 0     | 12    | 13     | 65     | 25       | 2     | 1      | 1    | 22.3965 | General Mills | Cold
C    | G    | Crispy Wheat & Raisins  | 100      | 2       | 1    | 140    | 2     | 11    | 10     | 120    | 25       | 3     | 1      | 0.75 | 36.1762 | General Mills | Cold
C    | G    | Golden Grahams          | 110      | 1       | 1    | 280    | 0     | 15    | 9      | 45     | 25       | 2     | 1      | 0.75 | 23.804  | General Mills | Cold
C    | G    | Honey Nut Cheerios      | 110      | 3       | 1    | 250    | 1.5   | 11.5  | 10     | 90     | 25       | 1     | 1      | 0.75 | 31.0722 | General Mills | Cold
... (67 rows omitted)

### Pivots

* Groups according to two columns
Produces a grid of counts or aggregated values
*  Two required arguments:
    * First: variable that forms column labels of the grid
    * Second: variable that forms row labels of the grid
    * Two optional arguments (include both or neither)
        
        * values=’column_to_aggregate’
        
        * collect=function_to_aggregate_with

**Create a table with the cereal type name as the rows and the Manufacturer's name as the columns. In the grid, you should be seeing the number of cereals that falls within the Name + type combination**

In [32]:
cereal.pivot("Name", "Cereal Type Name")

Cereal Type Name | American Home Food Products | General Mills | Kellogs | Nabisco | Post | Quaker Oats | Ralston Purina
Cold             | 0                           | 22            | 23      | 5       | 9    | 7           | 8
Hot              | 1                           | 0             | 0       | 1       | 0    | 1           | 0

**Create a table with the cereal type as the columns and the Manufacturer's name as the rows. In the grid, you should be seeing the total amount protein that falls within the Type + Name combination**

In [31]:
cereal.pivot("Cereal Type Name", "Name", values="protein", collect=sum)

Name                        | Cold | Hot
American Home Food Products | 0    | 4
General Mills               | 51   | 0
Kellogs                     | 61   | 0
Nabisco                     | 14   | 3
Post                        | 22   | 0
Quaker Oats                 | 16   | 5
Ralston Purina              | 20   | 0

### When to Group:
* aggregates of one categorical variable
* aggregates of many variables
* Multiple outputs (aggregate columns) 

### When to Pivot:
* Aggregates of exactly two variables
* Few unique values for column variable
* Interested in every combination of values